@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/** {
    border: 1px solid red !important;
}*/

body {
    font-family: 'Lato';
}

h2 {
    border-bottom: 2px solid #404040;
}

/* Helpers */

/*
Equalize classes are used for projects sections.
#projects is the flex container, containing flex items .project-entries.
Doing this will ensure the each project thumbnail is the same height and will allow
wrapping to the next line correctly.

Why? Since putting the projects in a single row that is larger than 12 columns, wrapping
thumbnails does not function properly because elements are not the same height. One solution could of been to create a new row after reaching 12 columns, however, this won't work well as you'd expect
because you could have 2 projects per line when you only want 1 project per line on smaller devices and putting each project in a single row achieves that. Therefore, Flexbox was the best way to achieve this.

Sources: - https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Using_CSS_flexible_boxes;
         - https://stackoverflow.com/questions/39130494/how-to-make-bootstrap-thumbnails-same-size-even-after-resizing-the-window/39135570
*/
.equalize-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.equalize {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}


/*Header */

.first-name {
    font-weight: 700;
}

.last-name {
    font-weight: 300;
}

.header-data {
    text-align: left;
    margin-top: 20px;
}

.header-data h1 {
    font-size: 90px;
    display: inline;
}

.header-data h2 {
    color: #0398E2;
    margin: 0;
    font-size: 38px;
    border-bottom: none;
    margin-bottom: 5px;
}

.header-data .welcome-message {
    /*background-color: #0398E2;*/
    color: #000;
    padding: 5px 10px;
    width: 100%;
    font-style: italic;
}


/* CONTACTS */


/* Top Contact */

.topContactsBox {
    float: right;
}

.topContactsBox h2 {
    font-size: 30px;
    text-align: right;
    padding-right: 0;
    font-weight: 700;
    border-bottom: none;
}

.topContactsBox ul {
    font-size: 16px;
    list-style-type: none;
}

.topContactsBox ul li {
    border-bottom: 1px solid #333;
    padding: 5px 0;
}

.topContactsBox ul li > span {
    padding-right: 20px;
}


/* SKILLS */

.skills-chart-div {
    width: 100%;
    text-align: center;
}

#skills-list {
    margin: 20px 0;
    text-align: center;
}

#skills-list .label {
    margin: 5px;
}


/* Education + Work + Projects */

.education-entry,
.work-entry {
    margin: 15px 0;
}

.entry-name {
    font-size: 16px;
    color: #0398E2;
}

.entry-location {
    font-size: 16px;
}

.date-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 15px;
}

.work-title {
    font-size: 24px;
}

.work-employer,
.work-location {
    font-size: 18px;
    color: #0398E2;
}

.work-description {
    padding-left: 20px;
}

.thumbnail .label {
  border-radius: 0;
  margin-right: 2px;

  /* Below 2 properties will get labels to wrap if it exceeds width of parent container */
  white-space: normal;
  display: inline-block;
}

.footer-flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    list-style-type: none;
}

.footer-flex-box li > span {
    padding-right: 5px;
}

.footer {
    background-color: #404040;
    color: #fff;
}


/* MAP */

#map {
    display: block;
    height: 100%;
    margin: 0 5%;
}

#mapDiv {
    height: 400px;
    width: 100%;
    padding-bottom: 5%;
}


/* Media Queries */


/* Small devices (tablets, 768px and up) */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-data {
        text-align: center;
    }
    .topContactsBox {
        float: none;
        display: inline-block;
    }
}


/* Extra small devices (phones, less than 768px) */

@media only screen and (max-width: 767px) {
    .header-data {
        text-align: center;
    }
    .header-data h1 {
        font-size: 40px;
    }
    .header-data h2 {
        font-size: 24px;
    }
    .topContactsBox {
        float: none;
        display: inline-block;
    }
    #skills-list .label {
        font-size: 10px;
        margin: 2px;
    }
    .project-entry img {
        margin-bottom: 5px;
    }
    #map {
        height: 80%;
    }
    #mapDiv {
        height: 330px;
        width: 100%;
        padding-bottom: 5%;
    }
}
