footer {
  padding-top: 2em;
}

/* Direct children of footer */
footer > * {
  padding-top: 1em;
  padding-bottom: 0.2em;
}

footer p {
  line-height: 1.5;
}

.footer--about {
  background-color: var(--white);
}

.footer--about p {
  letter-spacing: 0.025rem;
  font-weight: 300;
  margin: 0.3em 0;
}

.about {
  display: flex;
  flex-direction: column;
  padding: 0 0.25em;
}

.about > h3 {
  margin: 0 0 0.4em 0;
  align-self: center;
}

.about > h6 {
  margin: 0.5em 0;
  font-size: 1.8rem;
  align-self: center;
}

.footer--end {
  background-color: var(--footer-bg-colour);
  color: var(--white);
}

.footer--end > .innerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer--end p {
  text-align: center;
}

.footer--socials {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footer--socials > a {
  width: 1.5em;
  color: var(--white);
}

.footer--socials > a:first-child {
  margin-right: 0.6em;
}

.footer--socials > a:hover {
  color: var(--yellow);
}

.footer--shoutout-link {
  color: var(--white);
  text-decoration: underline;
}
